
<div class="bodylike">
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()" >&times;</a>
  
  <nav class="navigation">
  <ul class="mainmenu">
 <li> <a routerLink="/companydetails">Company Details</a></li>
 <li> <a routerLink="/customerdetails">Customer Details</a></li>
 <li> <a >Sales</a>
 <ul class="submenu">
        <li><a routerLink="/salesorderlist">Order List</a></li>
        <li><a routerLink="/salesinvoicelist">Invoice list</a></li>
     
   </ul>
 </li>
  <li> <a >Purchase</a>
 <ul class="submenu">
        <li><a routerLink="/purchaseorderlist">Order List</a></li>
        <li><a routerLink="/purchaseinvoicelist">Invoice list</a></li>
     
   </ul>
 </li>

 <li> <a  routerLink="/supplier">Supplier</a></li>
  <li> <a routerLink="/option">Option</a></li>
  </ul>
  </nav>
</div>
<div id="main" >
  <span style="font-size:30px;cursor:pointer;margin-left:5px; " (click)="openNav()" >&#9776; </span>
</div>

</div >
