
       <div class="col-md-6 marg" > 
         <h3>Option Menu</h3>

         <form>

         <div class="datedropdown">
         <label for="Date" class=" col-sm-6 col-form-label">Date Format</label>
          <div class="col-sm-6">
            <select class="form-control buttonoption" id="datedd1" >
              <option>DD/MM/YYYY</option>
              <option>MM/DD/YYYY</option>
              <option>DD/MMM/YY</option>
            </select>
          </div>
          </div>

          <div class="datedropdown">
         <label for="Date" class=" col-sm-6 col-form-label">Comma Format</label>
          <div class="col-sm-6">
            <select class="form-control buttonoption" id="commadd2" >
              <option>00,00,000</option>
              <option>000,000,000</option>
            </select>
          </div>
          </div>

          <div class="datedropdown">
         <label for="Date" class=" col-sm-6 col-form-label">Decimal Places</label>
          <div class="col-sm-6">
            <select class="form-control buttonoption" id="decimaldd3" >
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
          </div>
          </div>

          <div class="datedropdown">
         <label for="Date" class=" col-sm-6 col-form-label">Currency format</label>
          <div class="col-sm-6">
            <select class="form-control buttonoption" id="currencydd4">
              <option>Rs</option>
              <option>USD</option>
              <option>Dollar</option>
              <option>Dhiram</option>
              <option>Won</option>
              <option>Yen</option>
              <option>Riyal</option>
              <option>Dinar</option>
            </select>
          </div>
          </div>

          


<div class="savebtn">
<button type="submit" class="btn btn-default btn1 col-sm-5 btnsave" style="margin-top: 5px;">Save</button>    
</div>
      </form>
       </div>
       
   
