<!--<div class="container">
   
<form >
     <div class="row">
   <div class="col-md-6  margin" >
          
  <div class="form-group row">
      <label for="CustomerName" class=" col-sm-6 col-form-label marginlabel">Customer Name</label>
      <div class="col-sm-6 ">
      <select class="form-control" >
    <option>Search...</option>
    <option value="one">Humera</option>
    <option value="two">Prajakta</option>
    <option value="three">Praneet</option>
    <option value="three">Aniket</option>
  </select>
     </div>
     </div>
         <div class="form-group row">
          <label for="Inactive" class=" col-sm-6 col-form-label">Inactive</label>
       <input type="checkbox" class="checkbox"aria-label="Checkbox for following text input"  >
      <div class="col-sm-6">
     
       </div>
       </div>
          
     <div class="form-group row">
      <label for="CustomerName" class=" col-sm-6 col-form-label  ">Customer Name</label>
      <div class="col-sm-6">
    <input type="text" name="CustomerName" id="CustomerName"  name="CustomerName"   class="form-control " placeholder="Enter Customer Name"  >
      </div>
    </div>
    <div class="form-group row">
      <label for="CustomerCompanyRegno." class=" col-sm-6 col-form-label">Company Registration No.</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" name="CustomerCompanyRegno" id="CustomerCompanyRegno."  placeholder="Enter Company Registration No.">
      </div>
    </div>
        <div class="form-group row">
      <label for="Balance Amount" class=" col-sm-6 col-form-label">Balance Amount</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="BalanceAmount" placeholder="Enter Balance Amount">
      </div>
    </div>
    <div class="form-group row">
      <label for="CustomerType" class=" col-sm-6 col-form-label">Customer Type</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="CustomerType" placeholder="Enter Customer Type">
      </div>
    </div>
   <div class="form-group row">
      <label for="Salesman" class=" col-sm-6 col-form-label">Salesman</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="Salesman" placeholder="Enter Salesman">
      </div>
    </div>
        <div class="form-group row">
      <label for="Discount" class=" col-sm-6 col-form-label">Discount</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="Discount" placeholder="Enter Discount">
      </div>
    </div>
        <div class="form-group row">
      <label for="Telephone" class=" col-sm-6 col-form-label">Telephone</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="Telephone" placeholder="Enter Telephone">
      </div>
    </div>
      <div class="form-group row">
      <label for="Fax" class=" col-sm-6 col-form-label">Fax</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="Fax" placeholder="Enter Fax">
      </div>
    </div>
      <div class="form-group row">
      <label for="Email" class=" col-sm-6 col-form-label">Email</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="Email" placeholder="Enter Email">
      </div>
    </div>
      <div class="form-group row">
      <label for="ContactPerson" class=" col-sm-6 col-form-label">Contact Person</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="ContactPerson" placeholder="Enter Contact Person">
      </div>
    </div>
        </div>

   <div class="col-md-1 " >    </div>    

  <div class="col-md-5 bill " >
    <h5 class="text-center address">Bill To Address</h5>
      <div class="form-group row">
      <label for="inputLine1" class=" col-sm-4 col-form-label lab">Line 1</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="inputLine2" placeholder="Enter Line 1">
      </div>
    </div>
      <div class="form-group row">
      <label for="inputLine2" class=" col-sm-4 col-form-label lab">Line 2</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="inputLine2" placeholder="Enter Line 2">
      </div>
    </div>
      <div class="form-group row">
      <label for="inputCity" class=" col-sm-4 col-form-label lab">City</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="inputCity" placeholder="Enter City">
      </div>
    </div>
      <div class="form-group row">
      <label for="State" class=" col-sm-4 col-form-label lab">State</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="State" placeholder="Enter State">
      </div>
    </div>
      <div class="form-group row">
      <label for="Country" class=" col-sm-4 col-form-label lab">Country</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="Country" placeholder="Enter Country">
      </div>
    </div>
      <div class="form-group row">
      <label for="PostalCode" class=" col-sm-4 col-form-label lab">Postal Code</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="PostalCode" placeholder="Enter Postal Code">
      </div>
    </div>

    <h5 class="text-center address">Ship To Address</h5>
      <div class="form-group row">
      <label for="Line1" class=" col-sm-4 col-form-label lab">Line 1</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="Line1" placeholder="Enter Line 1">
      </div>
    </div>
      <div class="form-group row">
      <label for="Line1" class=" col-sm-4 col-form-label lab">Line 2</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="Line1" placeholder="Enter Line 2">
      </div>
    </div>
      <div class="form-group row">
      <label for="City" class=" col-sm-4 col-form-label lab">City</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="City" placeholder="Enter City">
      </div>
    </div>
      <div class="form-group row">
      <label for="State" class=" col-sm-4 col-form-label lab">State</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="State" placeholder="Enter State">
      </div>
    </div>
      <div class="form-group row">
      <label for="Country" class=" col-sm-4 col-form-label lab">Country</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="Country" placeholder="Enter Country">
      </div>
    </div>
      <div class="form-group row">
      <label for="PostalCode" class=" col-sm-4 col-form-label lab">Postal Code</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="PostalCode" placeholder="Enter Postal Code">
      </div>
    </div>
  

   
    <button type="delete" class="btn btn-default btn2">Delete</button>    
    <button type="create" class="btn btn-default btn2">New</button>    
    <button type="submit" class="btn btn-default btn2">Save</button>   
    <button type="cancel" class="btn btn-default btn2">Cancel</button>
  </div>

 </div>
    </form>
  </div>-->


<div class="container">

  <!--<form #frm="ngForm" (ngSubmit)="createform(myForm.value, myForm.valid)"  [formGroup]="myform" validate>-->
  <form #frm="ngForm" (ngSubmit)="createform(myForm.value, myForm.valid)" [formGroup]="myform" validate>
    <div class="row">
      <div class="col-md-6  margin">

        <div class="form-group row">
          <label for="CustomerName" class=" col-sm-6 col-form-label marginlabel">Customer Name</label>
          <div class="col-sm-6 ">
            <select class="form-control dropdown" onchange="document.getElementById('CustomerName').value=this.options[this.selectedIndex].text; document.getElementById('idValue').value=this.options[this.selectedIndex].value;">
    <option>Search...</option>
    <option >Humera</option>
    <option> Prajakta</option>
    <option >Praneet</option>
    <option >Aniket</option>
  </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="CustomerInActive" class=" col-sm-6 col-form-label">Inactive</label>
          <input type="checkbox" class="checkbox" aria-label="Checkbox for following text input">
          <div class="col-sm-6">

          </div>
        </div>


        <div class="form-group row">
          <label for="CustomerName" class=" col-sm-6 col-form-label ">Customer Name</label>
          <div class="col-sm-6">
            <input type="text" id="CustomerName" name="CustomerName" class="form-control input-underline input-lg sec" placeholder="Enter Customer Name"
              autofocus formControlName="CustomerName" required>

          </div>
        </div>
        <div class="form-group row">
          <label for="CustomerCompanyRegno." class=" col-sm-6 col-form-label">Company Registration No.</label>
          <div class="col-sm-6">
            <input type="text" class="form-control sec" name="CustomerCompanyRegno" placeholder="Enter Company Registration No." autofocus
              formControlName="CustomerCompanyRegno" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="CustomerBalanceAmt" class=" col-sm-6 col-form-label">Balance Amount</label>
          <div class="col-sm-6">
            <input type="number" class="form-control sec" id="CustomerBalanceAmt" name="CustomerBalanceAmt" placeholder="Enter Balance Amount"
              autofocus formControlName="CustomerBalanceAmt" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="CustomerType" class=" col-sm-6 col-form-label">Customer Type</label>
          <div class="col-sm-6">
            <input type="text" class="form-control sec" id="CustomerType" placeholder="Enter Customer Type" autofocus formControlName="CustomerType"
              required>
          </div>
        </div>
        <div class="form-group row">
          <label for="Salesman" class=" col-sm-6 col-form-label">Salesman</label>
          <div class="col-sm-6">
            <input type="text" class="form-control sec" id="Salesman" placeholder="Enter Salesman" autofocus formControlName="Salesman"
              required>
          </div>
        </div>
        <div class="form-group row">
          <label for="CustomerDiscount" class=" col-sm-6 col-form-label">Discount</label>
          <div class="col-sm-6">
            <input type="text" class="form-control sec" id="CustomerDiscount" name="CustomerDiscount" placeholder="Enter Discount" autofocus
              formControlName="CustomerDiscount" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="CustomerTelephone" class=" col-sm-6 col-form-label">Telephone</label>
          <div class="col-sm-6">
            <input type="text" class="form-control sec" id="CustomerTelephone" name="CustomerTelephone" placeholder="Enter Telephone"
              autofocus formControlName="CustomerTelephone" required>
          </div>
        </div>

        <div class="form-group row">
          <label for="CustomerFax" class=" col-sm-6 col-form-label">Fax</label>
          <div class="col-sm-6">
            <input type="CustomerFax" class="form-control sec" id="CustomerFax" name="CustomerFax" placeholder="Enter Fax" autofocus
              formControlName="CustomerFax" required>
          </div>
        </div>

        <div class="form-group row">
          <label for="CustomerEmail" class=" col-sm-6 col-form-label">Email</label>
          <div class="col-sm-6">
            <input type="CustomerEmail" class="form-control sec" id="CustomerEmail" name="CustomerEmail" placeholder="Enter Customer Email"
              autofocus formControlName="CustomerEmail" required>
          </div>
        </div>

        <div class="form-group row">
          <label for="CustomerContactPerson" class=" col-sm-6 col-form-label">Contact Person</label>
          <div class="col-sm-6">
            <input type="text" class="form-control sec" id="CustomerContactPerson" placeholder="Enter Contact Person" autofocus formControlName="CustomerContactPerson"
              required>
          </div>
        </div>
      </div>

      <div class="col-md-1 "> </div>

      <div class="col-md-5 bill ">
        <h5 class="text-center address">Bill To Address</h5>
        <div class="form-group row">
          <label for="CustomerBilltoLine1" class=" col-sm-4 col-form-label lab">Line 1</label>
          <div class="col-sm-6">
            <input type="text" class="form-control sec" id="CustomerBilltoLine1" name="CustomerBilltoLine1" placeholder="Enter Line 1"
              autofocus formControlName="CustomerBilltoLine1" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="CustomerBilltoLine2" class=" col-sm-4 col-form-label lab">Line 2</label>
          <div class="col-sm-6">
            <input type="text" class="form-control sec" id="CustomerBilltoLine2" name="CustomerBilltoLine2" placeholder="Enter Line 2"
              autofocus formControlName="CustomerBilltoLine2" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="CustomerBilltoCity" class=" col-sm-4 col-form-label lab">City</label>
          <div class="col-sm-6">
            <input type="text" class="form-control sec" id="CustomerBilltoCity" placeholder="Enter City" autofocus formControlName="CustomerBilltoCity"
              required>
          </div>
        </div>
        <div class="form-group row">
          <label for="CustomerBilltoState" class=" col-sm-4 col-form-label lab">State</label>
          <div class="col-sm-6">
            <input type="text" class="form-control sec" id="CustomerBilltoState" placeholder="Enter State" autofocus formControlName="CustomerBilltoState"
              required>
          </div>
        </div>
        <div class="form-group row">
          <label for="CustomerBilltoCountry" class=" col-sm-4 col-form-label lab">Country</label>
          <div class="col-sm-6">
            <input type="text" class="form-control sec" id="CustomerBilltoCountry" placeholder="Enter Country" autofocus formControlName="CustomerBilltoCountry"
              required>
          </div>
        </div>
        <div class="form-group row">
          <label for="CustomerBilltoPostalCode" class=" col-sm-4 col-form-label lab">Postal Code</label>
          <div class="col-sm-6">
            <input type="text" class="form-control sec" id="CustomerBilltoPostalCode" name="CustomerBilltoPostalCode" placeholder="Enter Postal Code"
              autofocus formControlName="CustomerBilltoPostalCode" required>
          </div>
        </div>

        <h5 class="text-center address">Ship To Address</h5>
        <div class="form-group row">
          <label for="CustomerShiptoLine1" class=" col-sm-4 col-form-label lab">Line 1</label>
          <div class="col-sm-6">
            <input type="text" class="form-control sec" id="CustomerShiptoLine1" placeholder="Enter Line 1" autofocus formControlName="CustomerShiptoLine1"
              required>
          </div>
        </div>
        <div class="form-group row">
          <label for="CustomerShiptoLine2" class=" col-sm-4 col-form-label lab">Line 2</label>
          <div class="col-sm-6">
            <input type="text" class="form-control sec" id="CustomerShiptoLine2" placeholder="Enter Line 2" autofocus formControlName="CustomerShiptoLine2"
              required>
          </div>
        </div>
        <div class="form-group row">
          <label for="CustomerShiptoCity" class=" col-sm-4 col-form-label lab">City</label>
          <div class="col-sm-6">
            <input type="text" class="form-control sec" id="CustomerShiptoCity" placeholder="Enter City" autofocus formControlName="CustomerShiptoCity"
              required>
          </div>
        </div>
        <div class="form-group row">
          <label for="CustomerShiptoState" class=" col-sm-4 col-form-label lab">State</label>
          <div class="col-sm-6">
            <input type="text" class="form-control sec" id="CustomerShiptoState" placeholder="Enter State" autofocus formControlName="CustomerShiptoState"
              required>
          </div>
        </div>
        <div class="form-group row">
          <label for="CustomerShiptoCountry" class=" col-sm-4 col-form-label lab">Country</label>
          <div class="col-sm-6">
            <input type="text" class="form-control sec" id="CustomerShiptoCountry" placeholder="Enter Country" autofocus formControlName="CustomerShiptoCountry"
              required>
          </div>
        </div>
        <div class="form-group row">
          <label for="CustomerShiptoPostalCode" class=" col-sm-4 col-form-label lab">Postal Code</label>
          <div class="col-sm-6">
            <input type="text" class="form-control sec" id="CustomerShiptoPostalCode" name="CustomerShiptoPostalCode" placeholder="Enter Postal Code"
              autofocus formControlName="CustomerShiptoPostalCode" required>
          </div>
        </div>



        <button type="delete" class="btn btn-default btn2">Delete</button>
        <button type="button" class="btn btn-default btn2">New</button>
        <button type="Submit" class="btn btn-default btn2" value="save">create</button>
        <button type="cancel" class="btn btn-default btn2">Cancel</button>
      </div>

    </div>
  </form>
  <!--   <input 
 (keyup.enter)="createPost(input)" #input
 type="text" class="form-control">

    <ul class="list-group">
    <li
     *ngFor="let posts of posts"
     class="list-group-item">
     
     {{posts.CustomerCompanyRegno}}
    </li>
</ul>-->
</div>

































<!--<div class="container">
   
<form >
     <div class="row">
   <div class="col-md-6  margin" >
          
  <div class="form-group row">
      <label for="CustomerName" class=" col-sm-6 col-form-label marginlabel">Customer Name</label>
      <div class="col-sm-6 ">
      <select class="form-control" >
    <option>Search...</option>
    <option value="one">Humera</option>
    <option value="two">Prajakta</option>
    <option value="three">Praneet</option>
    <option value="three">Aniket</option>
  </select>
     </div>
     </div>
         <div class="form-group row">
          <label for="Inactive" class=" col-sm-6 col-form-label">Inactive</label>
       <input type="checkbox" class="checkbox"aria-label="Checkbox for following text input"  >
      <div class="col-sm-6">
     
       </div>
       </div>
          
     <div class="form-group row">
      <label for="CustomerName" class=" col-sm-6 col-form-label  ">Customer Name</label>
      <div class="col-sm-6">
    <input type="text" name="CustomerName" id="CustomerName"  name="CustomerName"   class="form-control " placeholder="Enter Customer Name"  >
      </div>
    </div>
    <div class="form-group row">
      <label for="CustomerCompanyRegno." class=" col-sm-6 col-form-label">Company Registration No.</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" name="CustomerCompanyRegno" id="CustomerCompanyRegno."  placeholder="Enter Company Registration No.">
      </div>
    </div>
        <div class="form-group row">
      <label for="Balance Amount" class=" col-sm-6 col-form-label">Balance Amount</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="BalanceAmount" placeholder="Enter Balance Amount">
      </div>
    </div>
    <div class="form-group row">
      <label for="CustomerType" class=" col-sm-6 col-form-label">Customer Type</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="CustomerType" placeholder="Enter Customer Type">
      </div>
    </div>
   <div class="form-group row">
      <label for="Salesman" class=" col-sm-6 col-form-label">Salesman</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="Salesman" placeholder="Enter Salesman">
      </div>
    </div>
        <div class="form-group row">
      <label for="Discount" class=" col-sm-6 col-form-label">Discount</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="Discount" placeholder="Enter Discount">
      </div>
    </div>
        <div class="form-group row">
      <label for="Telephone" class=" col-sm-6 col-form-label">Telephone</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="Telephone" placeholder="Enter Telephone">
      </div>
    </div>
      <div class="form-group row">
      <label for="Fax" class=" col-sm-6 col-form-label">Fax</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="Fax" placeholder="Enter Fax">
      </div>
    </div>
      <div class="form-group row">
      <label for="Email" class=" col-sm-6 col-form-label">Email</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="Email" placeholder="Enter Email">
      </div>
    </div>
      <div class="form-group row">
      <label for="ContactPerson" class=" col-sm-6 col-form-label">Contact Person</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="ContactPerson" placeholder="Enter Contact Person">
      </div>
    </div>
        </div>

   <div class="col-md-1 " >    </div>    

  <div class="col-md-5 " >
    <h5 class="text-center address">Bill To Address</h5>
      <div class="form-group row">
      <label for="inputLine1" class=" col-sm-4 col-form-label lab">Line 1</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="inputLine2" placeholder="Enter Line 1">
      </div>
    </div>
      <div class="form-group row">
      <label for="inputLine2" class=" col-sm-4 col-form-label lab">Line 2</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="inputLine2" placeholder="Enter Line 2">
      </div>
    </div>
      <div class="form-group row">
      <label for="inputCity" class=" col-sm-4 col-form-label lab">City</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="inputCity" placeholder="Enter City">
      </div>
    </div>
      <div class="form-group row">
      <label for="State" class=" col-sm-4 col-form-label lab">State</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="State" placeholder="Enter State">
      </div>
    </div>
      <div class="form-group row">
      <label for="Country" class=" col-sm-4 col-form-label lab">Country</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="Country" placeholder="Enter Country">
      </div>
    </div>
      <div class="form-group row">
      <label for="PostalCode" class=" col-sm-4 col-form-label lab">Postal Code</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="PostalCode" placeholder="Enter Postal Code">
      </div>
    </div>

    <h5 class="text-center address">Ship To Address</h5>
      <div class="form-group row">
      <label for="Line1" class=" col-sm-4 col-form-label lab">Line 1</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="Line1" placeholder="Enter Line 1">
      </div>
    </div>
      <div class="form-group row">
      <label for="Line1" class=" col-sm-4 col-form-label lab">Line 2</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="Line1" placeholder="Enter Line 2">
      </div>
    </div>
      <div class="form-group row">
      <label for="City" class=" col-sm-4 col-form-label lab">City</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="City" placeholder="Enter City">
      </div>
    </div>
      <div class="form-group row">
      <label for="State" class=" col-sm-4 col-form-label lab">State</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="State" placeholder="Enter State">
      </div>
    </div>
      <div class="form-group row">
      <label for="Country" class=" col-sm-4 col-form-label lab">Country</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="Country" placeholder="Enter Country">
      </div>
    </div>
      <div class="form-group row">
      <label for="PostalCode" class=" col-sm-4 col-form-label lab">Postal Code</label>
      <div class="col-sm-6">
        <input type="text" class="form-control sec" id="PostalCode" placeholder="Enter Postal Code">
      </div>
    </div>
  

   
    <button type="delete" class="btn btn-default btn2">Delete</button>    
    <button type="create" class="btn btn-default btn2">New</button>    
    <button type="submit" class="btn btn-default btn2">Save</button>   
    <button type="cancel" class="btn btn-default btn2">Cancel</button>
  </div>

 </div>
    </form>
  </div>-->